// ENTER ANY ARBITRARY VALUE TO ENFORCE AUTHORIZATION IN DEMOS
DEMO_X_API_KEY=1234
// ENTER ANY ARBITRARY VALUE TO SIGN DEMO JWTs
DEMO_JWT_SECRET=a_long_and_secure_secret_key

// DATABASE CONFIG
DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_PORT=

NODE_ENV=development